@charset "UTF-8";

/* 초기화 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6,
input, fieldset, legend, p, select, table, th, td, 
tr, textarea, button, form {
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   font-family: "맑은 고딕", 돋음;
   font-size: 12px;
}

/* 로그인 외곽 */
#signup {
    width: 1000px;
}

/**********************************
로그인 통합 
***********************************/
.entry {
    padding: 10px 5px;
    border-top: 1px solid #e6e6e6;
}

.nonborder {
    border-top: none;
}

.entry-txt {
    width: 80px;
    display: inline-block;
}

/* 주소 */
/* #txt-adress{
    margin: 3px 0px 0px 84px;
    width: 300px;
} */

/* 나이, 취미 */
input[type="radio"], input[type="checkbox"] {
    margin: 0px 10px 0px 0px;
}

/***********************
자기소개
************************/
#self-intro {
    width: 300px;
    height: 100px; 
}

#top1 {
    vertical-align: top;
}

/*********************
 버튼
**********************/
.btn {
    text-align: center;
    border-top: 1px solid #e6e6e6;
}

.btn > button {
    margin: 10px 0px 0px 0px;
    padding: 5px;
}

/* .entry-sp {
    padding: 10px 5px;
    border: 3px solid #ffff00;
    
} */

/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}  


.textfloat {
    float: left;
    border: 2px solid #000000;
}

.detailfloat {
    width: 300px;
    float: left;
    border: 2px solid #0000ff;
}